{% extends "base.html" %}
{% load static %}

{% block title %}Feedback - TUAS Embedded Lab Manager{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'home/feedback.css' %}">
{% endblock %}

{% block content %}
<div class="feedback-container">
    <h1>We Value Your Feedback!</h1>
    <p>If you have any suggestions or have encountered an issue, please let us know below.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>
{% endblock %}
